/* Survey stylesheet by rodrigodavies */

/* Scaffolding for full-screen pages */

html, body {
	height: 100%;
	width: 100%;
	position: absolute;
}

body {
	background-color: #eee;
	font-size: 1.8em;
	line-height: 1.5em;
	}

.stripe {
	height: inherit;
	display: table;
	margin-left: auto;
	margin-right: auto;

}

.wrapper {
	display:table-cell; 
	vertical-align: middle;
	max-width: 900px;
}

/* ACA text images and buttons */

.prompt {
	text-align: left; 
	line-height: 2em;	
	}

.prompt .btn {
	display: block;
	margin: 10px auto;
}

.prompt .btn-line .btn {
	display: inline;
}

.back img {
	display: block;
	margin: 10px auto;
	text-align: center;
}



/* Elements */

.navig {
	position: fixed;
	vertical-align: middle;
	top: 0%;
	height: 40px;
	width: 100%;
	background-color: #ccc;
	opacity: 0.8;
	line-height: 40px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-large {
	font-size: 1em;
	padding: 15px;
	margin-top: 10px;
}

.small-text {
	margin-left: 5px;
	font-size: 0.5em;
}

ol, ul {
    list-style: none;
}

ol li {
	line-height: 1.8em;
}

img {
	width: 40px;
	height: auto;
}

/* Responsive container settings */

/* iPhone 5 only */
@media screen and (device-aspect-ratio: 40/71) {

	.stripe {
	height: 120%;
	}

	.wrapper {
		vertical-align: top;
    	padding: 50px 15px 0px 15px;
    	line-height: 0.5em;
	}

	.small-text {
	margin-left: 5px;
	font-size: 0.3em;
	}

	.prompt {
		line-height: 1.8em;
		font-size: 0.8em;	
	}

}


/* Tablets and horizontal phones */

@media (min-width: 481px) and (max-width: 979px) {

	.wrapper {
		vertical-align: top;
    	padding: 50px 15px 0px 15px;
    	line-height: 1em;
	}

	.prompt {
	line-height: 1.8em;	
	}

}

/* Vertical phones ex iPhone 5*/

@media (max-width: 480px) {

	.stripe {
	height: 120%;
	}

	.wrapper {
		vertical-align: top;
    	padding: 50px 15px 0px 15px;
	}

	.prompt {
	line-height: 1.5em;	
	font-size: 0.8em;
	}

	.small-text {
	margin-left: 5px;
	font-size: 0.3em;
	}

}
