<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"  "http://www.w3.org/TR/html4/strict.dtd">
<head>

<link href='css/bootstrap.css' rel='stylesheet' type='text/css'>
<link href='css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
<link href='css/survey-style.css' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>EnrollSF</title>

</head>

<body>
  <div class="navig">#EnrollSF<span class="small-text">Finding your way to better healthcare</span></div>

  <div class="stripe">
    <div class="wrapper">
      <div class="prompt">

          {{ content }}

      </div>
    </div>
  </div>


</body>

<html>